@import "./base/reset";

body {
  background-color: white;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica,
    Arial, sans-serif;
}

main {
  font-size: 2rem;
  font-weight: 700;
}
